
body {
  background-color: slategray;
}

nav{
  background-color: rgb(34, 32, 49);
}

.position {
display: flex;
justify-content: center
}
 
.texto{
display: flex;
align-content: center;

}

.logo{
  width: 100px
  
}

.style-footer { 
  height: 50px; 
  width:100%; 
  position:absolute; 
  bottom:0; 
  left:0; 
  background-color:black;
}

h4{
text-align: center;
color: white;

}

h2{
  color: orangered;

}


p {
  color:wheat;

}


h1 {
  display: flex;
  justify-content: center;
  font-family: 'Otomanopee One', sans-serif;

}

.texto{
  display: flex;
  justify-content: center;
}

.aline-Principal {
  padding: 1cm;
  background-color: cornflowerblue;
  display: flex;
  align-content: center;
}


.borders{
  border: black;
  border-style: solid;
  border-radius: 10px;
  border-width: 4px;
  text-align: center;

} 

.style-grid{
  display: grid;
  grid-template-columns: 20%;
  justify-items: center;
  justify-content: space-around;
}

/* adaptamos a mobile */
@media(max-width: 400px){
  .style-grid{
    justify-content: space-around;
    justify-items: center;
  
  }
}