.position {
  display: flex;
  justify-content: center;
}


$breakpoints:(
  mobile:300px,
  tablet:768px,
  full: 1000px ,
  sm: 300px,
);

@mixin media-up ($breakpoint) {
     @media screen and (max-width:map-get($breakpoints, $breakpoint )) {
      
      @content;
     }
}

  .titulo{
    text-align: center;
    padding-top: 6px;
    margin-left: 6cm;

    @include media-up(mobile){
      display: flex;
      justify-content: center;
    }
  }
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
      color: #01061d;
      padding: 0.8rem 1rem;
  }


  img{
    width: 250px;
    transition-property:all;
    transition-duration: 1s;
  }     /*transition*/
 
  img:hover{
    width: 400px;
  }   /*transtion */

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    padding-bottom: 10rem;

       @include media-up(tablet){
         display: grid;
         grid-template-columns: auto;
       }
  }
  

body{
  background-color: slategray;
}

.listacompra{
  display: flex;
  justify-content: center;
  background-color: skyblue;

     .lista{
       font-size: 30px;
     } 
}

.style-footer { 
  height: 50px; 
  width:100%; 
  bottom:0; 
  left:0; 
  background-color:black;
}

h4{
  text-align: center;
color: white;
}
