.position {
  display: flex;
  justify-content: center;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #01061d;
    padding: 0.8rem 1rem;
}

$breakpoints:(
  mobile:500px,
  tablet:768px,
  full: 1000px ,
  sm: 300px,
);

@mixin media-up ($breakpoint) {
     @media screen and (min-width:map-get($breakpoints, $breakpoint )) {
      
      @content;
     }
}

body{
  background-color: slategray;
}

h1{
  display: flex;
  justify-content: center;
  padding: 2%;
  background-color: orangered;
}

.d-block{
  height: 500px;
  padding-right: 8cm;
  padding-left: 8cm ;
    
    @include media-up(tablet){
      padding-right: 2rem;
      padding-left: 2rem;
      height: 300px;
    }

    @include media-up(mobile){
      padding-right: 2rem;
      padding-left: 2rem;
      height: 200px;
    } 

    @include media-up(full){
      padding-right: 2rem;
      padding-left: 2rem;
      height: 500px;
    }  
     
}


h4{
  text-align: center;
color: white;
}

.d-block{
  width: 100%;
}


.flex-area{
  display: flex;
  justify-content: space-around;
  padding-top: 3cm;
  justify-items: center;
}

.style-footer{
  height: 50px; 
  width:100%; 
  bottom:0; 
  left:0; 
  background-color:black;

}